#shEditor{
    padding: 2px;
    border-radius: 3px;
    width:100%;
    display: inline-block;
    background-color: rgb(255, 206, 232);
    text-align: left;
}
#shTextbox{
    border-radius: 3px;
    margin: 5px 5px 0px 5px;
    height: 100px;
    padding: 10px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    resize: vertical;
}
@media (min-width:719px) {
    #shEditor{
        width:720px;
    }
    #shTextbox{
        height: 300px;
    }
}
.shBtn{
    border-style: none;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgb(255, 164, 213);
    color: white;
    padding: 0px 2px 0px 2px;
}
.shBtnGroup{
    background-color: rgb(255, 164, 213);
    padding: 0px 8px 3px 8px;
    margin: 0px 5px 0px 5px;
    border-radius: 2px;
}
.shBtn:active{
    color: rgb(255, 57, 163);
}
.shBtn:hover{
    cursor: pointer; 
    color: rgb(255, 57, 163);
}
#shEditorMenu{
    margin:3px 0px 8px 0px;
}
.dropdownMenu{
    border-style: none;
    margin-left: 3px;
    vertical-align: bottom;
    height: 21px;
    display: inline-block;
}
#madeBy{
    float: right;
    font-size: 12px;
    margin-right: 7px;
    color: white;
}
#colorPicker {
    margin: 0px;
    padding: 0px;
    height: 21px;
    width: 19px;
    background-color: rgb(255, 164, 213);
    border: none;	
}
.colorGroup{
    background-color: rgb(255, 164, 213);
    padding: 0px 1px 2px 5px;
    margin: 0px 0px 0px 0px;
    border-radius: 2px;
    color:white;
}